{{ header_tmpl }}
{% set intvars = interfaces[ansible_hostname] -%}
{% set loopback_ip = intvars.loopback -%}
{% set int_unnumbered = intvars.int_unnumbered -%}
{% set int_numbered = intvars.int_numbered -%}
{% set swbridges = intvars.bridges -%}

{% for item in int_unnumbered -%}
interface {{ item }}
  ip ospf network point-to-point
!
{% endfor -%}
!
{% if int_numbered is defined -%}
  {% for item in int_numbered -%}
interface {{ item }}
  ip ospf network broadcast
!
  {% endfor -%}
{% endif -%}
!
router-id {{ loopback_ip }}
router ospf
  auto-cost reference-bandwidth  40000
  ospf router-id {{ loopback_ip }}
{% if int_numbered is defined -%}
  {% for item in int_numbered %}
  passive-interface {{ item }}
  {% endfor %}
{% endif -%}
  network {{ loopback_ip }}/32 area 0.0.0.0
{% if int_numbered is defined -%}
  {% for item in subnets[ansible_hostname].network -%}
  network {{ item }} area 0.0.0.0
  {% endfor %}
{% endif -%}
!
